@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
:root {
  --font-light: 200;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --body-font: "Poppins", sans-serif;
  --big-font-size: 1.25rem;
  --bigger-font-size: 1.5rem;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.813rem;
  --z-fixed: 100;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --main-color: #ecf0f3;
  --dark-text: #848494;
  --dark-bg: #1f1f23;
  --shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --neu-shadow: 5px 5px 10px #b1b1b1, -5px -5px 10px #fff;
  --transition: all 0.4s linear;
}
@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 1.5rem;
    --bigger-font-size: 2rem;
    --biggest-font-size: 3rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.875rem;
  }
}
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  line-height: 1.6;
  background-color: var(--main-color);
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--dark-color);
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
button {
  border: none;
  outline: none;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 95vw;
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  height: 100vh;
}

@media (max-width: 430px) {
  .wrapper {
    padding-top: 2rem;
  }
}

@media (max-width: 360px) {
  .wrapper {
    padding-top: 1rem;
  }
}

@media (max-height: 680px) {
  .wrapper {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }
}
